{% load i18n %}
{% load static %}

<div class="legal-container">
    <h1>{% trans "Über AusspracheTrainer g.e.V." %}</h1>
    <h2>{% trans "Gründung" %}</h2>
        <p>{% trans "Der Verein wurde am 19.07.2022 in Frankfurt (DE) gegründet von den sieben Gründungsmitgliedern (Daniel Busch [aktueller Vorstand], Moritz Busch [aktueller stellvertretender Vorstand], Oliver Busch [aktueller Schatzmeister], Ulrike Busch, Reinhard Busch, Sigrid Busch und Vera Seifert). Da der primäre Zweck das Betreiben dieser Webseite ist, wurde der Verein innerhalb der Familie gegründet. Seine Gemeinnützigkeit wurde ihm am 06.07.2023 zugesprochen. Demnach verfolgt der Verein den gemeinnützigen Zweck der Volksbildung." %}</p>
    

    <h2>{% trans "Zweck" %}</h2>
        <p>{% trans "Konkret sind wir bestrebt, mithilfe von innovativen und digitalen Tools das Erlernen einer Fremdsprache zu erleichtern und zu verbessern. Eine erste Version des AusspracheTrainers gewann den Bundeswettbewerb für künstliche Intelligenz. Mittlerweile setzen wir auf Microsofts Aussprachebewertungen, die mehrsprachig funktionieren und detailliertere Rückmeldungen enthalten. Unsere Webseite wird ständig weiterentwickelt, um weitere Funktionen zu integrieren. Falls Sie weitere Ideen haben, wenden Sie sich gerne an uns." %}

    <h2>{% trans "Kontakt" %}</h2>
    <p>{% trans "Falls Sie uns bezüglich einer Kooperation, einer Frage, einem Bug oder einer Anregung kontaktieren möchten, schreiben Sie gerne Daniel Busch (kontakt@aussprachetrainer.org) eine kurze E-Mail. Wir freuen uns, von Ihnen zu hören." %}



</div>
